<?php $note = $block->getNote(); ?>
<?php if($note): ?>
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Order Note') ?></span>
    </div>
    <div class="admin__page-section-content">
        <span class="title"><?= /* @escapeNotVerified */ $note ?></span>
    </div>
<?php endif; ?>
