<div class="step-title" translate="'Order Note'" data-role="title" />
<label class="label" for="order-note-select"><span data-bind="i18n: 'Choose from template'"></span></label>
<select id="order-note-select" name="order-note-select" data-bind="style: {marginTop: '10px'}, options: noteSelectOptions, optionsText: 'text',optionsValue: 'id', event : { change: changedNoteSelection }" ></select>
<textarea id="order-note-text" name="order-note-text" data-bind="style: {marginTop: '10px', marginTop: '20px',}, textInput: note"> </textarea>
