<?php $noteText = $block->getCustomerNote(); ?>
<form id="customer-account-order-note-form" action="<?= $block->escapeUrl($block->getUrl('ordernote/index/save')) ?>" method="post" >
    <fieldset class="fieldset info">
        <?= $block->getBlockHtml('formkey') ?>
        <div class="field choice">
            <textarea maxlength="255" name="note-text" id="note-text" title="<?= $block->escapeHtmlAttr(__('Note text')) ?>" ><?php echo $noteText ? $noteText : '' ?></textarea>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Save')) ?>"><span><?= $block->escapeHtml(__('Save')) ?></span></button>
        </div>
    </div>
</form>